*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    height: 100vh;
    background-color: pink;
    display: flex;

}

/* container */
.container{
    height: 90%;
    width: 85%;
    margin: auto;
    display: flex;
}
/* fine container */

/* row */
.row-left{
    height: 100%;
    width: 30%;
}
.row-right{
    height: 100%;
    width: 70%;
    background-color: white;
    border-left: 1px solid white;
    
}
/* fine row */

/* card */
.card-1{
    display: flex;
    justify-content: space-between;
}
.card-2{
    display: flex;
}
.card-4{
    height: 70px;
    background-color: #FAFAFA;
}
.card-5{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-right{
    width: 100%;
}
.card-left{
    width: 100%;
}
/* fine card */

/* col */
.col-30-1{
    height: 50px;
    background-color: #EAEAEA;
}
.col-30-2{
    height: 60px;
    background-color: #8FDAFCff;
}
.col-30-3{
    height: 35px;
    background-color: #FAFAFA;
}
.col-30-4{
    height: calc(100% - 145px);
    overflow-y: scroll;
}
.col-70-1{
    height: 80%;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.col-70-2{
    width: 100%;
    height: calc(100% - 80% - 50px);
    background-color:#F3EEEBff;
}
/* fine col */

/* content */
.content-3{
    padding-right: 20px;
}
.content-4{
    width: 100%;
}
.content-6{
    border-top: 1px solid black;
}
.content-7{
    height: 30%;
    width: 60%;
    background-color: gold;
}
.content-8{
    height: 30%;
    width: 60%;
    background-color: gold;
}
.content-9{
    height: calc(100% - 50px -80%);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-4 a{
    font-size: 14px;
}
.content-5 input{
   display: flex;
   width: 90%;
   margin: auto;
   border: 1px solid lightgrey;
}
.content-9 span{
   width: 10%;
}
.content-9 input{
   width: 100%;
   padding: 15px;
   margin: auto;
}

/* fine content */

/* inizio responsive */

/* inizio tablet */
@media screen and (max-width: 768px) {
    body{
        font-family: "Lato", sans-serif;
        display: flex;
    
    }
    .container{
        margin: auto;
        display: flex;
    }
    .row-left{
        height: 100%;
        width: 10%;
    }
    .row-right{
        height: 100%;
        width: 90%;
        background-color: white;
        border-left: 1px solid white;
        
    }
    .col-30-2{
        display: none;
    }
    .col-30-3{
        display: none;
    }
    .col-30-4{
        height: calc(100% - 50px);
    }
    .content-2{
        display: none;
    }
    /* fine tablet */
}

/* inizio smartphone */
@media screen and (max-width: 480px){
    .container{
        height: 90%;
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .row-left{
        display: none;
    }
}
/* fine smartphone */

/* fine responsive */